strict-ssl=true
//npm.pkg.github.com/:_authToken=${GITHUBAUTHTOKEN}
init.license=MIT
@betancourtca:registry=https://npm.pkg.github.com/betancourtca
@space-janitor:registry=https://npm.pkg.github.com/space-janitor
@iamsupercb:registry=https://npm.pkg.github.com/iamsupercb
